services/wsdl/ficheExport.wsdl

<?xml version="1.0"?>
<definitions name="CSP"
    targetNamespace="urn:CSP"
    xmlns:tns="urn:CSP"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:typens="urn:CSP"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns="http://schemas.xmlsoap.org/wsdl/">


	<wsdl:types>
   		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:CSP">
			<complexType name="WSstatus">
			    <all>
			     	<element name="success" type="xsd:boolean"/>
					<element name="message" type="xsd:string"/>
					<element name="errorCode" type="xsd:int" nillable="true"/>
			    </all>
			</complexType>

		</xsd:schema>
	</wsdl:types>
	
	
	<message name="exportFicheTourinFranceRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="codeTif" type="xsd:string"/>
	</message>
	<message name="exportFicheTourinFranceResponse">
		<part name="status" type="tns:WSstatus"/>
		<part name="idFiche" type="xsd:int"/>
	</message>
	
	
	<portType name="CspPorts">
		<operation name="exportFicheTourinFrance">
			<input  message="tns:exportFicheTourinFranceRequest"/>
			<output message="tns:exportFicheTourinFranceResponse"/>
		</operation>
	</portType>


	<binding name="wsBinding"  type="typens:CspPorts">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="exportFicheTourinFrance">
			<soap:operation soapAction="http://<?php echo $_SERVER['SERVER_NAME']; ?>/services/wsdl/ficheExport.wsdl" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
			
	</binding>
	
	<service name="TourismSystemWebServiceFicheExport">
		<documentation>Webservices ficheExport de Tourism System</documentation>
		<port name="CspPorts" binding="tns:wsBinding">
			<soap:address location="http://<?php echo $_SERVER['SERVER_NAME']; ?>ficheExport.php"/>
		</port>
	</service>

</definitions>