services/wsdl/groupe.wsdl

<?xml version="1.0"?>
<definitions name="CSP"
    targetNamespace="urn:CSP"
    xmlns:tns="urn:CSP"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:typens="urn:CSP"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns="http://schemas.xmlsoap.org/wsdl/">


	<wsdl:types>
   		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:CSP">
			<complexType name="WSstatus">
			    <all>
			     	<element name="success" type="xsd:boolean"/>
					<element name="message" type="xsd:string"/>
					<element name="errorCode" type="xsd:int" nillable="true"/>
			    </all>
			</complexType>
			
			<complexType name="ArrayOfGroupes">
	        	<complexContent mixed="false">
		            <restriction base="soapenc:Array">
		            	<attribute ref="soapenc:arrayType" wsdl:arrayType="tns:groupe[]"/>
		          	</restriction>
	        	</complexContent>
	       	</complexType>
	       	
	       	<complexType name="groupe">
			    <all>
					<element name="idGroupe" type="xsd:int"/>
			     	<element name="idSuperAdmin" type="xsd:int"/>
			     	<element name="nomGroupe" type="xsd:string"/>
			    </all>
			</complexType>
			
			
			<complexType name="ArrayOfUtilisateurs">
	        	<complexContent mixed="false">
		            <restriction base="soapenc:Array">
		            	<attribute ref="soapenc:arrayType" wsdl:arrayType="tns:utilisateur[]"/>
		          	</restriction>
	        	</complexContent>
	       	</complexType>
	       	
	       	<complexType name="utilisateur">
			    <all>
					<element name="idUtilisateur" type="xsd:int"/>
			     	<element name="login" type="xsd:string"/>
			    </all>
			</complexType>
	       	
	       	<complexType name="ArrayOfTerritoires">
	        	<complexContent mixed="false">
		            <restriction base="soapenc:Array">
		            	<attribute ref="soapenc:arrayType" wsdl:arrayType="tns:territoire[]"/>
		          	</restriction>
	        	</complexContent>
	       	</complexType>
	       	
	       <complexType name="territoire">
			    <all>
					<element name="idTerritoire" type="xsd:int"/>
			     	<element name="libelle" type="xsd:string"/>
			    </all>
			</complexType>
			
			
			
		</xsd:schema>
	</wsdl:types>
	
	

	
	<message name="createGroupeRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="nomGroupe" type="xsd:string"/>
	</message>
	<message name="createGroupeResponse">
		<part name="status" type="tns:WSstatus"/>
		<part name="idGroupe" nillable="true" type="xsd:int"/>
	</message>
	
	<message name="deleteGroupeRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="idGroupe" type="xsd:string"/>
	</message>
	<message name="deleteGroupeResponse">
		<part name="status" type="tns:WSstatus"/>
		<part name="reponse" type="xs:anyType" nillable="true" />
	</message>
	
	<message name="setSuperAdminGroupeRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="idGroupe" type="xsd:int"/>
		<part name="idUtilisateur" type="xsd:int"/>
	</message>
	<message name="setSuperAdminGroupeResponse">
		<part name="status" type="tns:WSstatus"/>
		<part name="reponse" type="xs:anyType" nillable="true" />
	</message>
	
	<message name="getGroupesRequest">
		<part name="sessionId" type="xsd:string"/>
	</message>
	<message name="getGroupesResponse">
		<part name="status" type="tns:WSstatus"/>
		<part name="groupes" nillable="true" type="xsd:anyType"/>
	</message>
	
	<message name="getGroupeTerritoiresRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="idGroupe" type="xsd:string"/>
	</message>
	<message name="getGroupeTerritoiresResponse">
		<part name="status" type="tns:WSstatus"/>
		<part name="territoires" type="tns:ArrayOfTerritoires"/>
	</message>
	
	<message name="getUtilisateursGroupeRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="idGroupe" type="xsd:string"/>
	</message>
	<message name="getUtilisateursGroupeResponse">
		<part name="status" type="tns:WSstatus"/>
		<part name="utilisateurs" type="tns:ArrayOfUtilisateurs"/>
	</message>
	
	<message name="addGroupeTerritoireRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="idGroupe" type="xsd:int"/>
		<part name="idTerritoire" type="xsd:int"/>
	</message>
	<message name="addGroupeTerritoireResponse">
		<part name="status" type="tns:WSstatus"/>
		<part name="reponse" type="xs:anyType" nillable="true" />
	</message>
	
	<message name="deleteGroupeTerritoireRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="idGroupe" type="xsd:int"/>
		<part name="idTerritoire" type="xsd:int"/>
	</message>
	<message name="deleteGroupeTerritoireResponse">
		<part name="status" type="tns:WSstatus"/>
		<part name="reponse" type="xs:anyType" nillable="true" />
	</message>
	
	<message name="updateGroupeRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="idGroupe" type="xsd:int"/>
		<part name="nomGroupe" type="xsd:string"/>
	</message>
	<message name="updateGroupeResponse">
		<part name="status" type="tns:WSstatus"/>
		<part name="reponse" type="xs:anyType" nillable="true" />
	</message>
	
	
	
	<portType name="CspPorts">

		<operation name="createGroupe">
			<input  message="tns:createGroupeRequest"/>
			<output message="tns:createGroupeResponse"/>
		</operation>
		
		<operation name="deleteGroupe">
			<input  message="tns:deleteGroupeRequest"/>
			<output message="tns:deleteGroupeResponse"/>
		</operation>
		
		<operation name="setSuperAdminGroupe">
			<input  message="tns:setSuperAdminGroupeRequest"/>
			<output message="tns:setSuperAdminGroupeResponse"/>
		</operation>
		
		<operation name="getGroupes">
			<input  message="tns:getGroupesRequest"/>
			<output message="tns:getGroupesResponse"/>
		</operation>
		
		<operation name="getGroupeTerritoires">
			<input  message="tns:getGroupeTerritoiresRequest"/>
			<output message="tns:getGroupeTerritoiresResponse"/>
		</operation>

		<operation name="getUtilisateursGroupe">
			<input  message="tns:getUtilisateursGroupeRequest"/>
			<output message="tns:getUtilisateursGroupeResponse"/>
		</operation>
		
		<operation name="addGroupeTerritoire">
			<input  message="tns:addGroupeTerritoireRequest"/>
			<output message="tns:addGroupeTerritoireResponse"/>
		</operation>
		
		<operation name="deleteGroupeTerritoire">
			<input  message="tns:deleteGroupeTerritoireRequest"/>
			<output message="tns:deleteGroupeTerritoireResponse"/>
		</operation>
		
		<operation name="updateGroupe">
			<input  message="tns:updateGroupeRequest"/>
			<output message="tns:updateGroupeResponse"/>
		</operation>
	</portType>


	<binding name="wsBinding"  type="typens:CspPorts">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		
		
		<operation name="createGroupe">
			<soap:operation soapAction="http://dev.tourism-system.fr/serveur/services/services/wsdl/groupe.wsdl" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<operation name="deleteGroupe">
			<soap:operation soapAction="http://dev.tourism-system.fr/serveur/services/services/wsdl/groupe.wsdl" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<operation name="setSuperAdminGroupe">
			<soap:operation soapAction="http://dev.tourism-system.fr/serveur/services/services/wsdl/groupe.wsdl" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<operation name="getGroupes">
			<soap:operation soapAction="http://dev.tourism-system.fr/serveur/services/services/wsdl/groupe.wsdl" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<operation name="getGroupeTerritoires">
			<soap:operation soapAction="http://dev.tourism-system.fr/serveur/services/services/wsdl/groupe.wsdl" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<operation name="getUtilisateursGroupe">
			<soap:operation soapAction="http://dev.tourism-system.fr/serveur/services/services/wsdl/groupe.wsdl" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<operation name="addGroupeTerritoire">
			<soap:operation soapAction="http://dev.tourism-system.fr/serveur/services/services/wsdl/groupe.wsdl" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<operation name="deleteGroupeTerritoire">
			<soap:operation soapAction="http://dev.tourism-system.fr/serveur/services/services/wsdl/groupe.wsdl" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<operation name="updateGroupe">
			<soap:operation soapAction="http://dev.tourism-system.fr/serveur/services/services/wsdl/groupe.wsdl" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	
	<service name="TourismSystemWebServiceUtilisateur">
		<documentation>Webservices groupe de Tourism System</documentation>
		<port name="CspPorts" binding="tns:wsBinding">
			<soap:address location="http://dev.tourism-system.fr/serveur/groupe.php"/>
		</port>
	</service>

</definitions>