services/wsdl/maintenance.wsdl

<?xml version="1.0"?>
<definitions name="CSP"
	targetNamespace="urn:CSP"
	xmlns:tns="urn:CSP"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:typens="urn:CSP"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">


	<wsdl:types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:CSP">
			<complexType name="WSstatus">
				<all>
					<element name="success" type="xsd:boolean"/>
					<element name="message" type="xsd:string"/>
					<element name="errorCode" type="xsd:int" />
					<element name="errorInfos" type="xs:anyType" />
				</all>
			</complexType>
		</xsd:schema>
	</wsdl:types>
	
	
	<message name="purgeFMARequest">
		<part name="sessionId" type="xsd:string"/>
	</message>
	<message name="purgeFMAResponse">
		<part name="status" type="tns:WSstatus"/>
		<part name="reponse" type="xs:anyType" nillable="true" />
	</message>
	
	<message name="purgeSessionsRequest">
		<part name="sessionId" type="xsd:string"/>
	</message>
	<message name="purgeSessionsResponse">
		<part name="status" type="tns:WSstatus"/>
		<part name="reponse" type="xs:anyType" nillable="true" />
	</message>
	
	<portType name="CspPorts">
		<operation name="purgeFMA">
			<input  message="tns:purgeFMARequest"/>
			<output message="tns:purgeFMAResponse"/>
		</operation>
		<operation name="purgeSessions">
			<input  message="tns:purgeSessionsRequest"/>
			<output message="tns:purgeSessionsResponse"/>
		</operation>
	</portType>


	<binding name="wsBinding"  type="typens:CspPorts">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="purgeFMA">
			<soap:operation soapAction="{BASE_URL}services/wsdl/maintenance.wsdl" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="purgeSessions">
			<soap:operation soapAction="{BASE_URL}services/wsdl/maintenance.wsdl" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	
	<service name="TourismSystemWebServiceMaintenance">
		<documentation>Webservices maintenance de Tourism System</documentation>
		<port name="CspPorts" binding="tns:wsBinding">
			<soap:address location="{BASE_URL}maintenance.php"/>
		</port>
	</service>

</definitions>